.main-navigation {
    @include flexCenter;
    flex-direction: row;
    gap: 20px;
    // .main-navigation__element
    &__element {
        width: auto;
    }
    // .main-navigation__link
    &__link {
        width: auto;
        color: inherit;
        &:hover,
        &:focus {
            color: #B2A35F;
        }
    }
}