@import '../base/mixins';
@import '../base/vars';
.support {
    @include flexCenter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.4%;
    /* 35.376px */
    letter-spacing: 0.48px;
    // .support__link
    &__link {
        color: $orange;
    }
}