/**
 * Fonts
*/

@font-face {
    font-family: 'DINP-R';
    src: url("../fonts/DINPro-Regular.eot?") format("eot"), url("../fonts/DINPro-Regular.woff") format("woff"), url("../fonts/DINPro-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Ubuntu-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 700;
    src: url('../fonts/Ubuntu-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 500;
    src: url('../fonts/Ubuntu-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Rubik';
    font-style: bold;
    font-weight: 500;
    src: url('../fonts/Rubik-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Rubik-Regular.ttf') format("truetype");
}