/**
 * Variables
*/


/* Typography */


/* Breakpoints */


/* Paths */


/* Grid setup */


/* Colour palette */

$black: #000;
$white: #fff;
$light-gray: #f1f1f1;
$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;
$grey-footer-color: #e7e7e7;
$black-letters-color: #1D1929;
$company-name-color: pink;
$button-active-color: #003cff;
$button-light-color: #7796c0;

/* Components */