body {
    background-color: #f5f4ff;
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

a {
    color: inherit;
}