@import '../base/vars';
* {
    transition: .3s;
}

body {
    background-color: $main-backgroud-color;
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a {
    color: inherit;
    &:hover,
    &:focus {
        color: $link-hover-color;
    }
}